@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    color: #F8F9FA;
    font-family: "Source Code Pro", monospace;
}

h1 {
    font-weight: bold;
    text-shadow: 3px 4px 7px rgba(0,0,0,0.8);
    font-size: 4rem;
}

body {
    background-color: #1f1f1f;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

p {
    margin: 0;
    color: #808080;
}


p.body {
    margin-left: 16px;
}

.margin-40 {
    margin-left: 40px;
}


.p-h1:first-child {
    margin-top: 16px;
}

.sub-text .p:first-child {
    margin-top: 8px;
}

.p-text {
    color: #a6a6a6;
    text-shadow: 3px 4px 7px rgba(0,0,0,0.8);
}

h2 {
    text-align: center;
    padding-bottom: 52px;
    text-shadow: 3px 4px 7px rgba(0,0,0,0.8);
}

.last {
    padding-bottom: 230px;
}

.scroll-msg {
    margin: 16px 0 32px 0;
}

.card {
    width: 20rem;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    background-color: #212529;
}

.card:hover {
    box-shadow: 0 1px 1px rgba(255,255,255,0.12), 
                0 2px 2px rgba(255,255,255,0.12), 
                0 4px 4px rgba(255,255,255,0.12), 
                0 8px 8px rgba(255,255,255,0.12), 
                0 16px 16px rgba(255,255,255,0.12);
}


.card-title {
    color: #CED4DA;
    background-color: #212529;
}

.card-img-top {
    padding: 10px 10px 0 10px;
    background-color: #212529;
}

.card-body {
    background-color: #212529;
}

.test {
    border: 1px solid red;
}


/* animations */

.projects-animation {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


#projects .col:nth-child(1) {
    transition-delay: 300ms;
}

#projects .col:nth-child(2) {
    transition-delay: 400ms;
}

#projects .col:nth-child(3) {
    transition-delay: 500ms;
}



/* ------------------------------------------- */

#main {
    box-shadow: 0px 25px 20px -20px rgba(255, 255, 255, 0.45);
}


.first {
    padding-top: 128px;
}

#projects {
    background-color: #16191c;
    padding: 128px 0 128px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
    position: relative;
}

#main {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
    position: relative;
    z-index: 1;
}

#information {
    background-color: #212529;
    padding: 128px 0 128px 0;
}

#footer {
    /* background-color: #343b42; */
    background-color: #292f34;
    padding-top: 16px;
}

#information p {
    color: #CED4DA;
    font-size: 18px;
}

#footer p {
    color: #a6a6a6;
}

.about-me-container {
    border-right: 1px solid #a6a6a6;
    padding-bottom: 32px;
}


.icon-container {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 18px;
/*     padding-left: 64px; */
}


.about-me-text {
    padding-right: 32px;
}


.main-animation {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.img-animation {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.information-animation {
    opacity: 0;
    transition: all 1s;
}

.about-me-container,
.skills-container {
    transition-delay: 200ms;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#main .first,
.body:nth-child(2) {
    transition-delay: 0ms;
}

#main .p-h1,
#main h1 {
    transition-delay: 800ms;
}

#main .p,
#main .p-text {
    transition-delay: 800ms;
}

#main .scroll-msg {
    transition-delay: 2000ms;
}

.body:nth-child(4),
#main .last {
    transition-delay: 2600ms;
}


.img-myself {
    width: 100%;
}

#information img {
    display: none;
}


.skills-container ul {
    color: #CED4DA;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.skills li:not(:last-child) { 
    padding-bottom: 10px;  
 }

@media (max-width: 1199px) {
    .img-myself {
        display: none;
    }

    #information img {
        display: flex;
        margin: auto;
        width: 50%;
        padding-top: 64px;
    }
}

@media (max-width: 1199px) {
    .about-me-container {
        padding-bottom: 64px;
        border-right: none;
        border-bottom: 1px solid #a6a6a6;
    }

    .about-me-text {
        padding-right: 0px;
    }

    .skills-container > h2 {
        padding-top: 64px;
        /* text-align: left; */
    }

}

@media (max-width: 400px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (max-height: 900px) and (max-width: 767px) {
    .first {
        padding-top: 32px;
    }
}

.contact {

    /* border-top: 1px solid #a6a6a6; */
    padding-top: 16px;
}

.contact h3 {
    padding-bottom: 8px;

}









