.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: relative;
  margin-top: 64px;
  padding-bottom: 32px;
  margin-left: 16px;
}

.container:nth-child(odd) {
  margin-left: unset;
  align-self: flex-end;
  margin-right: 16px;

  .title {
    text-align: right;
    width: unset;
    left: unset;
    right: -24px;
  }

  .projectNumber {
    align-self: flex-start;
  }

  .description {
    text-align: right;
  }

  .link {
    align-self: flex-end;
  }
}

.projectNumber {
  align-self: flex-end;
  color: var(--color-font-primary);
  font-size: 12px;
  font-weight: 500;
}

.title {
  position: absolute;
  left: -24px;
  top: 4px;
  font-size: 35px;
  color: var(--color-secondary);
  font-weight: 500;
  width: inherit;
}

.description {
  font-weight: 300;
  padding-bottom: 16px;
}

.link {
  all: unset;
  align-self: flex-start;
  border-bottom: 1px solid var(--color-secondary);
  color: var(--color-font-secondary);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  height: 41px;
}

.link:hover {
  .externalLinkIcon {
    transform: rotate(45deg);
    margin-bottom: 0;
  }
}

.image {
  padding: 4px 0 32px 0;
  object-fit: cover;
  height: auto;
}

.externalLinkIcon {
  margin-bottom: 8px;
  transition: transform 0.4s, margin-bottom 0.4s;
}

@media (min-width: 768px) {
  .image {
    height: auto;
  }

  .container {
    padding-bottom: 0;
    margin-top: -10%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 350px;
    margin-left: 48px;
    margin-top: -20%;
  }

  .container:nth-child(odd) {
    margin-right: 48px;
  }

  .image {
    width: 350px;
  }

  .title {
    top: 8px;
  }
}
