.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: auto;
  position: relative;
  padding-bottom: 64px;
  left: -16px;
}

.container:nth-child(odd) {
  left: unset;
  right: -16px;

  .title {
    text-align: right;
    width: unset;
    left: unset;
    right: -32px;
  }

  .projectNumber {
    align-self: flex-start;
  }

  .description {
    text-align: right;
  }

  .link {
    align-self: flex-end;
  }
}

.projectNumber {
  align-self: flex-end;
  color: var(--color-font-primary);
  font-size: 12px;
  font-weight: 500;
}

.title {
  position: absolute;
  left: -32px;
  top: 4px;
  font-size: 35px;
  color: var(--color-secondary);
  font-weight: 500;
  width: inherit;
}

.description {
  font-weight: 300;
  padding-bottom: 16px;
}

.link {
  all: unset;
  align-self: flex-start;
  border-bottom: 1px solid var(--color-font-secondary);
  color: var(--color-font-secondary);
  font-family: var(--font-roboto);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.image {
  padding: 4px 0 32px 0;
  object-fit: cover;
}

.externalLinkIcon {
  margin-bottom: 8px;
}
