.image {
  object-fit: cover;
  width: auto;
}

.title {
  font-size: 45px;
  font-weight: 400;
  padding-bottom: 32px;
}

.name {
  font-size: 45px;
  font-weight: 500;
  color: var(--color-secondary);
  text-align: right;
  position: absolute;
  bottom: -24px;
}

.imageContainer {
  position: relative;
}

.arrowDown {
  position: absolute;
  bottom: -20px;
  left: 0;
}
