.container {
  padding-top: 96px;
  width: 100%;
  position: relative;
}

.image {
  object-fit: cover;
  width: auto;
  margin-left: 10%;
}

.title {
  font-size: 45px;
  font-weight: 400;
  padding-bottom: 32px;
}

.name {
  font-size: 45px;
  font-weight: 500;
  color: var(--color-secondary);
  text-align: right;
  width: fit-content;
  position: absolute;
  right: 0;
  bottom: -32px;
}

.arrowDown {
  position: absolute;
  bottom: -20px;
  left: 0;
}

@media (min-width: 768px) {
  .name {
    font-size: 65px;
    bottom: 32px;
  }

  .title {
    font-size: 55px;
  }
}

@media (min-width: 1000px) {
  .image {
    height: 400px;
    margin-left: 15%;
  }

  .name {
    font-size: 90px;
  }

  .title {
    font-size: 80px;
  }
}
