.title {
  font-weight: 500;
  font-size: 45px;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 15vh;
  }
}

@media (min-width: 1000px) {
  .title {
    margin-bottom: 25vh;
  }
}
