.title {
  font-weight: 500;
  font-size: 45px;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
}

@media (min-width: 768px) {
}

@media (min-width: 1000px) {
  .title {
    margin-bottom: 10%;
    font-size: 55px;
  }
}
