*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

body {
  background-color: var(--color-primary);
  color: var(--color-font-primary);
}

main {
  padding-top: 128px;
}

p {
  line-height: 1.3rem;
  font-family: var(--font-roboto);
  color: var(--color-font-secondary);
}

h1,
h2,
h3 {
  font-family: var(--font-space-grotesk);
}

:root {
  --color-primary: #24262c;
  --color-secondary: #faf8f8;
  --color-font-primary: #a7a6a6;
  --color-font-secondary: #f6f6f6;
}
