*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-word;
}

body {
  background-color: var(--color-primary);
  color: white;
}

main {
  padding-top: 128px;
}

p {
  line-height: 1.3rem;
}

:root {
  --color-primary: #24262c;
}
