.title {
  font-size: 45px;
  font-weight: 500;
  text-align: right;
  padding-bottom: 64px;
}

.link {
  all: unset;
  color: var(--color-font-secondary);
  font-weight: 500;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--color-secondary);
  align-items: center;
  cursor: pointer;
}

.listItem {
  padding-bottom: 64px;
  display: flex;
  gap: 16px;
}

.externalLinkIcon {
  margin-bottom: 8px;
}

.container {
  padding-top: 96px;
}

@media (min-width: 768px) {
  .title {
    padding-bottom: 0;
    margin-bottom: -40px;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 96px 64px 0 64px;
  }

  .title {
    font-size: 55px;
  }
}
