.title {
  font-size: 45px;
  font-weight: 500;
  text-align: right;
  padding-bottom: 64px;
}

.link {
  all: unset;
  font-family: var(--font-roboto);
  color: var(--color-font-secondary);
  font-weight: 500;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--color-secondary);
  align-items: center;
}

.listItem {
  padding-bottom: 64px;
  display: flex;
  gap: 16px;
}

.externalLinkIcon {
  margin-bottom: 8px;
}
