.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  align-items: center;
  z-index: 10;
}

.listContainer {
  display: flex;
  padding: 32px 10% 16px 10%;
  color: var(--color-secondary);
  width: 100%;
}

.navigationItemsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.divider {
  border-bottom: 1px solid var(--color-secondary);
  width: 83%;
}

.link {
  all: unset;
  cursor: pointer;
  padding-bottom: 4px;
}

.link:hover {
  color: var(--color-font-primary);
}

.name {
  display: none;
}

@media (min-width: 768px) {
  .divider {
    display: none;
  }

  .listContainer {
    gap: 48px;
    align-self: flex-end;
    font-size: 18px;
    justify-content: space-between;
  }

  .name {
    display: unset;
    width: fit-content;
  }

  .navigationItemsContainer {
    gap: 48px;
    width: fit-content;
  }

  .container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

@media (min-width: 1000px) {
  .listContainer {
    max-width: 1128px;
    align-self: center;
    padding: 32px 64px 16px 64px;
  }
}
