.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 32px 0 16px 0;
  color: var(--color-secondary);
  font-family: var(--font-space-grotesk);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 10;
  align-items: center;
  padding: 0 32px;
}

.divider {
  border: 1px solid var(--color-secondary);
  width: 100%;
}
